* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #242424;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  font-family: inherit;
}
